Repository 99designs/gqlgen, pull requests merged in 2024-10, with the labels that each got.

#3329 fix: Ensure that nil http responses don't cause issues
  graphql/handler/debug/tracer.go
Labels: websocket

#3347 Fix union queries not working in @requires
  plugin/federation/federation.go
  plugin/federation/fieldset/fieldset.go
  plugin/federation/testdata/computedrequires/entity.resolvers.go
  plugin/federation/testdata/computedrequires/generated/exec.go
  plugin/federation/testdata/computedrequires/generated/federation.go
  plugin/federation/testdata/computedrequires/generated/models/models.go
  plugin/federation/testdata/computedrequires/schema.graphql
  plugin/federation/testdata/computedrequires/schema.resolvers.go
  plugin/federation/testdata/explicitrequires/entity.resolvers.go
  plugin/federation/testdata/explicitrequires/generated/exec.go
  plugin/federation/testdata/explicitrequires/generated/federation.go
  plugin/federation/testdata/explicitrequires/generated/federation.requires.go
  plugin/federation/testdata/explicitrequires/generated/models.go
  plugin/federation/testdata/explicitrequires/schema.graphql
Labels: federation

#3349 feat: add possibility to configure client target
  client/client.go
Labels: client
